body {
    background-color: lightgrey; 
}

h1 {
    text-align: center;
    color: darkslategray;
}

#input {
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

#addButton {
    background-color: aquamarine;
}

#clearButton {
    background-color: red;
}

#task {
    padding: 10px;
    color: darkslategray;
    border:  1px solid lightgray;
    border-radius: 5px;
}

button {
    padding: 10px;
    border-radius: 3px;
    color: darkslategray;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 12px;
}

button#addButton {
    background-color: lightseagreen;
}

button#clear {
    background-color: #cc1133;
}

button.remove {
    padding: 5px;
    margin-left: 20px;
    background-color: lightslategrey;
    opacity: 0.5;
}

button.remove:hover {
    background-color: lightseagreen;
}

ul{
    width: 75%;
    margin: 20px auto;
    text-align: center;
}

li{
    list-style-type: none;
    color: white;
    font-weight: 600;
    font-size: 1.3em;
}